#todolist {
    transition: 2s opacity;
}

#textInput {
    width: 200px;
}

.App {
    padding: 50px;
    border: 100px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #ffffff;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
    border-radius: 10%;
}

html {
    background: url(https://pbs.twimg.com/media/FLeizbmXoAEIqcR?format=jpg&name=large) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 20px 20px 20px #000000, 
    -20px -20px -35px #0e0d0d;
}

#listlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}